header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 30px 0;
  margin-bottom: 15px;
  background-color: #5C8DF3;
}

.globe {
  width: 6rem;
  height: 6rem;
}

.title {
  color: #fff;
}
