@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Montserrat:ital,wght@1,100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

img {
  width: 100%;
  margin-bottom: 10px;
  cursor: pointer;
}

.country-card {
  border: 3px solid #4369b2;
  margin: 10px;
}

.icon {
  cursor: pointer;
  font-size: 1.5rem;
}

.name {
  cursor: pointer;
  text-decoration: none;
  color: #4369b2;
}

.population {
  font-size: 18px;
}

@media (min-width: 800px) {
    .wrap {
      grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 992px) {
    .wrap {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
